@{
    ViewBag.Title = "ProfanityEdit";
}

<div class="jumbotron">
    <h1>ProfanityEdit</h1>
    <p>Quick, easy, and cheap way to edit out profanity and/or other unwanted elements of movies!</p>
    <p></p>
</div>

<div class="searchbar">
    <h2>Search for Movie</h2>
    @using (Html.BeginForm("SearchResults", "Home", "get"))
    {
        <input type="text" name="movieName" />
        <input type="submit" name="Search" />
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New Edits</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Recent Downloads</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Top Editors</h2>
        <p></p>
    </div>
</div>