@model List<ProfanityEdit.Models.Movie>

@{
    ViewBag.Title = "Search Results";
}

<h2>Search Results</h2>

<ul>
    @foreach (var movie in Model)
    {
        <li>@movie.Name
            <ul>
                @foreach (var editList in movie.EditLists)
                {
                    <li>@Html.ActionLink(editList.Name, "MakeXspf", new { id = editList.Id })</li>
                }
            </ul>
        </li>
    }
</ul>
